*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
html , body{
    height: 100%;
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 50px; */
    padding: 1rem 3rem;
    background-color: #C2EFD4;
    .l{
        width: 20%;
        height: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
        /* background-color: salmon; */
        img{
            height: 30px;
        }

    }
    .m{
        display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    a{
        text-decoration: none;
        color: #224f34d5;
        font-size: 1.2rem;
    }
    .ac{
        /* color: rgb(29, 24, 24); */
        font-weight: 700;
        color: #224F34;

    }
    }
    .r{
        width: 20%;
        height: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
        /* background-color: salmon; */
        gap: 10px;
        img{
            height: 40px;
        }
        .login{
            padding: 0.5rem 1.5rem;
            border: 3px solid green;
            background-color: transparent;
            cursor: pointer;
            transition: all ease 1s;

        }
        .login:hover{
            background-color: #224F34;
            transition: all ease 1s;
            color: white;
            border: none;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
    }
}
footer{
    width: 100%;
    height: 40vh;
    background-color: #224F34;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem 3rem;
    margin-top: 100px;
    .lw{
        width: 30%;
        /* height: 100%; */
        /* background-color: seashell; */
        display: flex;
        align-items: start;
        justify-content: start;
        margin-top: 50px;
        flex-direction: column;
        img{
            height: 50px;
        }
        .soc{
            img{
                height: 30px;
            }
        }
    }
    .r{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: silver; */
        table{
            width: 100%;
            height: 80%;
            /* display: flex; */
            /* align-items: center; */
            /* justify-content: space-between; */
            /* flex-direction: column; */
            gap: 50px;
            padding: 5rem;
            /* border-collapse: collapse; */
            /* background-color: saddlebrown; */
            /* border: 2px solid saddlebrown; */
            tr{
                /* border: 1px solid black; */
            }
            th{
                /* border: 1px solid black; */
                font-size: 1.2rem;
            }
            td{
                /* border: 1px solid black; */

            }
            .email{
                border: 2px solid #3ea966;
                width: 500px;
                height: 50px;
            }
                INPUT{
                    width: 80%;
                    /* height: 100%; */
                    border: none;
                    background-color: transparent;
                    outline: none;
                    padding: 0.5rem 1rem;
                    font-size: 1.2rem;

                }
                input::placeholder{
                    color: white;
                }
                button{
                    width: 20%;
                    height: 100%;
                    background-color: #3ea966;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    color: white;
                }
           
        }
    }
}